
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.qwerpdf.com/Arimo-Regular.ttf) format('woff2');
}
@font-face {
    font-family: 'SimSun';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.qwerpdf.com/unicode.ttf) format('woff2');
}