@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/NotoSerif-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSansCJKsc';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/NotoSansCJKsc-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKtc';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/NotoSansCJKtc-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKjp';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/NotoSansCJKjp-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/NotoSansCJKkr-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'SimSun';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/NotoSansCJKsc-Regular.otf) format('opentype');
}
