.__dialog {
    visibility: hidden;
    position: fixed;
    z-index: 3000;
    width: 100%;
    height: 100%;
}

.__dialog_open {
    visibility: visible;
}

.__dialog_close {
    visibility: hidden;
}

.__dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.__dialog_main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 90%;
    background-color: #ffffff;
}

.__dialog_header {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.__dialog_header_title {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.__dialog_header_controls {
    display: flex;
    align-items: center;
}

.__dialog_header_controls .__dialog_control_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.__dialog_header_controls .__dialog_control_btn svg {
    fill: #000000;
}

.__dialog_body {
    background-color: #ffffff;
    overflow: hidden;
}

.__dialog_confirm {
    text-align: center;
    padding-bottom: 15px;
}

.__dialog_confirm_buttons {
    margin: 20px 0 5px 0;
}

.__dialog_confirm_btn {
    margin: 0 5px;
}

.__dialog.__dialog_fade,
.__dialog.__dialog_zoom
{
    opacity: 0;
    transition: all 200ms;
}

.__dialog.__dialog_fade.__dialog_open,
.__dialog.__dialog_zoom.__dialog_open
{
    opacity: 1 !important;
}

.__dialog.__dialog_zoom.__dialog_close .__dialog_body {
    width: 50px !important;
    height: 50px !important;
}

.__dialog.__dialog_zoom .__dialog_body {
    width: 260px;
    height: 200px;
    transition: all 200ms;
}

.__dialog_padding {
    padding: 0 8px 15px 15px;
}

.__dialog_padding .__dialog_header {
    padding: 15px 0 15px 0 !important;
}

.__dialog_padding .__dialog_body {
    /* 当出现滚动条时兼容__dialog_padding的右8px */
    padding-right: 7px;
    overflow: auto;
}