:root {
    /* Common */
    --main-background: #ffffff;
    --font-size: 14px;
    --input-bg-color: #FEFEFE;
    --input-border: 1px solid #d6d6d6;

    --scroll-width: 8px;
    --scroll-height: 8px;
    --select-scroll-width: 5px;
    --select-scroll-height: 5px;
    --scroll-thumb-color-firefox: #5f5d5d;
    --scroll-thumb-color: #6b6b6b;
    --scroll-track-color: #e6e6e6;
    --scroll-border-radius: 10px;
    --scroll-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

    --input-range-bg-color: #cdcdcd;
    --input-range-thumb-bg-color: #ffffff;
    --input-range-thumb-border: 1px solid #cdcdcd;

    --border: 1px solid #E0E8F2;
    --hover-bg-color: rgba(224, 232, 241, 0.9);
    --hover-border-bg-color: #d1ddeb;
    --hover-ms: 300ms;
    --border-radius: 3px;
    /* Common end */

    --pdf-header-bg-color: #446994;
    --pdf-header-text-color: #ffffff;
    --pdf-header-tab-item-active-bg-color: #ffffff;
    --pdf-header-tab-item-active-text-color: #333333;


    --history-remove-btn-bg-color: #3EB0AC;
    --history-remove-btn-text-color: #ffffff;
    --history-remove-btn-border-radius: 5px;

    --history-page-title-bg-color: #738cac;
    --history-page-title-text-color: #ffffff;
    --history-page-title-border-radius: 5px;


    --pdf-preview-box-shadow: 0 0 12px 2px rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 24%);
    --pdf-thumbs-bg-color: var(--main-background);
    --pdf-thumbs-preview-wrapper-border: 2px solid #d58987;


    --pdf-main-bg-color: var(--main-background);

    --selection-color: rgba(67, 138, 219, 0.61);
    --selection-opacity: 0.2;

    --tool-items-text-size: 12px;



    /* 固定的工具栏 */
    --fixed-actions-bg-color: #F2F8FF;

    /* 添加元素跟随的工具栏 */
    --element-actions-border-radius: 5px;
    /* 工具栏右对齐，如果左对齐改为initial */
    --element-actions-right: var(--element-actions-right);
    --element-actions-bg-color: #ffffff;
    --element-actions-item-border-radius: var(--element-actions-border-radius);
    --element-actions-item-bg-color: #ffffff;
    --element-actions-item-hover-bg-color: rgba(217, 217, 217, 0.75);
    --element-actions-item-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    --element-actions-item-width: 24px;
    --element-actions-item-height: 24px;
    --element-actions-remove-color: #FE0F00;
    --element-actions-select-color: #ffffff;
    /* end */

    --element-border-width: 1px;
    --element-border-color: #8e8e8e;
    --element-border-color2: #2680eb;
    --element-border-style: dashed;
    --element-border-style2: solid;
    --element-outline-offset: 5px;

    --element-selection-highlight-bg-color: #f7ff00;
    --element-selection-highlight-opacity: 0.4;


    /* 颜色 */
    --color-picker-hover: #1a73e8;
    /* end */


    /* 弹窗 */
    --dialog-header-bg-color: #E0E8F2;
    /* end */
}